<%# <div class="rebel-global-container-inner center d-flex justify-content-center flex-column">
  <div class="rebel-hero-title">
    <h1 class="d-flex flex-column justify-content-space-between">
      <span>We are</span>
      <span class="neon">Made</span>
      <span>For each other</span>
    </h1>
  </div>
</div>


<div>
  <p>Concevons, plannifions et développons ensemble des solutions techniques pour accompagner l'ambition vos (et bientôt nos) clients ! </p>
</div> %>

<div>
  <div class="header">
    <div class="header-container center d-flex justify-content-center flex-column">
      <h1 class="d-flex flex-column justify-content-space-between">
        <span>We are</span>
        <span class="neon">Made</span>
        <span>For each other</span>
      </h1>
      <div class="header-subtitle d-flex align-items-center flex-column">
        <p>Concevons, plannifions et développons ensemble des solutions techniques pour accompagner l'ambition vos (et bientôt nos) clients ! </p>
      </div>
    </div>
  </div>
</div>
