.rebel-hero-title {
  position: relative;
  box-sizing: inherit;
  min-height: 37rem;
  min-width: 41rem;
  background: url("https://423121.fs1.hubspotusercontent-na1.net/hubfs/423121/operation-rebel/homepage/hero/griffes-green.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:  auto;
  padding: 5rem 0;
  text-transform: uppercase;
}

.introductiontitle {
  position: relative;
  size: auto;
}

h1, h2 {
  font-family: 'Comfortaa';
  font-size: 3.5rem;
  line-height: 1.3;
  color: #141d85;
  text-align: center;
}

p {
  font-family: 'Comfortaa';
  color: #141d85;
  text-align: center;
}

.header {
  background-image: url("https://423121.fs1.hubspotusercontent-na1.net/hubfs/423121/rebel/homepage/clouds/cloud-background-1440.png");
  position: absolute;
  height: 100%;
  width: 100%;
}

.header-container {
  background-image: url("https://423121.fs1.hubspotusercontent-na1.net/hubfs/423121/operation-rebel/homepage/hero/griffes-green.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  padding: 5rem 0;
  text-transform: uppercase;
}

.neon {
  font-family: 'Permanent Marker';
  font-size: 5rem;
  color: transparent;
  text-shadow: 4px 2px #141d85;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    -webkit-text-stroke: 2px #3dffce;
  }
  18% {
    -webkit-text-stroke: 0px #3dffce;
  }
  22% {
    -webkit-text-stroke: 2px #3dffce;
  }
  25% {
    -webkit-text-stroke: 0px #3dffce;
  }
  53% {
    -webkit-text-stroke: 2px #3dffce;
  }
  57% {
    -webkit-text-stroke: 0px #3dffce;
  }
  100% {
    -webkit-text-stroke: 2px #3dffce;
  }
}

.header-subtitle {
  padding: 3rem 0 1.5rem 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 5rem;
}

.banner h1 {
  margin: 0;
  color:  #141d85;
  font-family: 'Comfortaa';
  font-size: 2.6rem;
  text-transform: uppercase;
  padding: 2.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.banner p {
  font-family: 'Comfortaa';
  font-size: 1.2rem;
  color:  #141d85;
  padding: 1rem;
}

.line-1 {
  height: 5px;
  width: 100%;
  max-width: 117rem;
  margin: 0 0 5px 0;
  border-radius: 0 100px 100px 0;
}

.line-2 {
  height: 5px;
  width: 100%;
  max-width: 37rem;
  margin: 0 0 5px 0;
  border-radius: 0 100px 100px 0;
}

.line-3 {
  height: 5px;
  width: 100%;
  max-width: 11rem;
  margin: 0 0 5px 0;
  border-radius: 0 100px 100px 0;
}

.secondary-bkg {
  background-color: #00ffc0;
}

h2 {
  font-size: 1.5rem;
}

.my-name {
  font-family: 'Permanent Marker';
  font-size: 5rem;
  color: #141d85;
  font-size: 1.5rem;
}
